<header class="top-nav row align-items-end">
    <div class="col text-right">
        <% if user_signed_in? %>
            <div id="logout"><%= link_to 'Logout ', destroy_user_session_path, method: "delete", class:"btn btn-warning"%></div>
            <div id="username"><%= current_user.email %></div>
        <% else %>
            <p><%= link_to 'Login', new_user_session_path, class:"btn btn-primary"%>
            <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success"%>
            </p>
        <% end %>
    </div>
</header>